<%= form_for @hub_list, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :github, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :github, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bitbucket, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :bitbucket, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :codepen, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :codepen, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  hub_lists_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
