<%= form_for(@hub_list) do |f| %>
  <% if @hub_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hub_list.errors.count, "error") %> prohibited this hub_list from being saved:</h2>

      <ul>
      <% @hub_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :github %><br>
    <%= f.text_field :github %>
  </div>
  <div class="field">
    <%= f.label :bitbucket %><br>
    <%= f.text_field :bitbucket %>
  </div>
  <div class="field">
    <%= f.label :codepen %><br>
    <%= f.text_field :codepen %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
