<p id="notice"><%= notice %></p>

<p>
  <strong>Github:</strong>
  <%= @hub_list.github %>
</p>

<p>
  <strong>Bitbucket:</strong>
  <%= @hub_list.bitbucket %>
</p>

<p>
  <strong>Codepen:</strong>
  <%= @hub_list.codepen %>
</p>

<p>
  <strong>User:</strong>
  <%= @hub_list.user %>
</p>

<%= link_to 'Edit', edit_hub_list_path(@hub_list) %> |
<%= link_to 'Back', hub_lists_path %>
